body{
    background-color:linear-gradient(pink,turquoise);
    text-align:center;
    padding:30%
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    
}
