<!DOCTYPE html>
<html lang="en">
    <form action="http://127.0.0.1:5000/create" method="post">
        
        <label>Enter your question here:</label>
        <input type="text" id="propq" name="propq" required><br><br>

        <label>Enter your answer here:</label>
        <input type="text" id="propa" name="propa" required><br><br>

        <!--third field for adding accompanying image-->
        <label>Enter image url here:</label>
        <input type="text" id="img_link" name="image"><br><br>



        <button type="submit">Add</button><br><br>
        

    </form>







</html>