<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
  <div class="text-center text-light bg-dark">
    <!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>
    
    
    <h1>Welcome, {{user}}! </h1>
    </body>
    </html>



    <form action="http://127.0.0.1:5000/start" method="post">
        <button>Take Practice Test</button>
    
    </form>

    <form action="http://127.0.0.1:5000/qform" method="get">
        <button>Add Question</button>
   </form>
  
  </div>

</html>