<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prachi's Flask App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<script>
 
  </script>
<body>
    <p>
        Taking input from web<br><br>
        <form action="http://127.0.0.1:5000/next" method="post">
            {{question}}<input type="text" id="text1" name="text1" required><br><br>
            <button id="next" type="submit">Next</button><br><br>
            <img src={{image}}>

            

        </form>


        <form action="http://127.0.0.1:5000/logout" method="post">
        <button>Log Out</button>
        </form>

        </p>


</body>
</html>