<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prachi's Flask App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
      

    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
</head>
 

<header>
     
     
</header>
    
<body>
    <div class="card-body" style="border-radius:6px; background-color:#D57E8C;">
    
        
        <form action="/next" method="post">
            <p style="color:white;">{{question}} </p><input type="text" id="text1" name="text1" required><br><br>
            <button class="btn-sm round">Next</button><br><br>
            <img src={{image}}>

            

        </form>


        <form action="/logout" method="post">
        <button class="btn-sm round">Log Out</button>
        </form>

        

    </div>
</body>
</html>