<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}"  >
</head>

<title>LOGIN</title>

<body>
<form action="http://127.0.0.1:5000/home"  method="post" type="login" id="username" name="username" >
    <label style="font-size: large;">Username: </label>
    <input type="text" id="username" name="username" required>
 
    <label style="font-size: large;">Password:  </label>
    <input type="password" id="password"  name="password"required>
    <button type="submit" >Login</button>
</form>

<h2>Don't have an account?</h2>    
<form action="http://127.0.0.1:5000/register" method="post">
    <button>Register</button>

</form> 
<div class="show-data" >
    {{error}}
</div>

</body>


